p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }

  .intro {
    background-color: yellow;
  }

  header h1 {
    text-align: center;
  }

  main h2 {
    padding: 0.5em 0 0.5em 0.5em;
  }

  .testClass {
    color: red;
  }

  #testId {
  color: blue;
}